.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 2%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.win{
  color: red;
  font-size: 6rem;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  margin-bottom: 0;
  margin-top:-10px; 
}

 @media (max-width: 600px ){

  *{
    margin: 20% 0%;
  }

  h1, .win{
    font-size: 30px !important ;
  }
  .img1, .img2{
    width: 50px !important;
    height: 50px !important;
  }
  p{
    font-size: 20px;
    : 5%;
  }
  footer{
    margin: 10% 0%;

  }
} 

